:root {
  --primaryBackground: #fff;

  --primaryFill: #f5f5f5;
  --primaryHoverFill: #ddd;
  --secondaryFill: #ccc;

  --primaryText: #333;
  --primaryAccentText: #000;
  --secondaryText: #555;
  --tertiaryText: #777;

  --primaryColor: #1378ae;

  --primaryError: #e57373;
  --secondaryError: #f44336;
  --primarySuccess: #81c784;
  --secondarySuccess: #66bb6a;
  --primaryInfo: #4fc3f7;
  --secondaryInfo: #29b6f6;
  --primaryWarning: #ffb74d;
  --secondaryWarning: #ffa726;

  --whiteColor: #fff;
  --blackColor: #000;
}

html[data-theme="dark"] {
  --primaryBackground: #121212;

  --primaryFill: #222;
  --primaryHoverFill: #333;
  --secondaryFill: #444;

  --primaryText: #ddd;
  --primaryAccentText: #fff;
  --secondaryText: #ccc;
  --tertiaryText: #999;

  --primaryColor: #1378ae;

  --primaryError: #d32f2f;
  --secondaryError: #f44336;
  --primarySuccess: #388e3c;
  --secondarySuccess: #66bb6a;
  --primaryInfo: #0288d1;
  --secondaryInfo: #29b6f6;
  --primaryWarning: #f57c00;
  --secondaryWarning: #ffa726;
}
